* {
box-sizing: border-box;
margin: 0;
padding: 0;

}
body {
    background: rgb(199, 196, 196);
    color: black;
    background-color: #b9b9b8;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}
h2 {
    color: rgb(252, 215, 2);
}
a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}
.contenedor {
    width: 80%;
    margin: auto;
}

.navegacion {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;

}
a {
    font-weight: bold;
}
.logonav {
    width: 150px;
    padding: 25px;
}

.navegacion ul {
    display: flex;
}
.navegacion ul li {
    padding: 50px;
}
.navegacion ul.menu {
    flex: 1;
    margin-left: 100px ;
}
hr {
    margin: 5px 0;
}
.info h2 {
    font-size: 22px;
    text-align: center;
    padding: 50px;
}
#var {
    font-size: 22px;
    text-align: center;
    padding: 50px;

}
.main {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(2, 7, 12, 0.50), rgba(2, 7, 12, 0.50)),
    url(fotos/main/stock-photo-panoramic-shot-sommelier-taking-wine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    color: white;

}
.main img {
    display: flex;
}
.main h2 {
    font-size: 35px;
    padding: 50px;
}

.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 25px;
    margin: 10px 0;
    
    

    }
    .card-group .card {
width: 100%;
height: 380px;

 
    }
    .card img {
        width: 100%;
        height: 250px;
    }
    .card-group h3 {
        font-size: 20px;
        margin: 10px 0;

    }
    #ub {
        font-size: 22px;
        text-align: center;
        padding: 50px;
    
    }
    .contenedor2 {
        width: 80%;
        margin: auto;
        background-color: rgb(236, 230, 230);
        display: flex;
        
        justify-content: space-between;
        align-items: center;
    }
   .parra{
       padding: 50px;
   }
   #contac0 {
    font-size: 22px;
    text-align: center;
    padding: 50px;
   }

   .contenedor3 {
    width: 80%;
    height: 400px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 230, 230);
    display: flex; 

    }
    .mb-3 {
        
    }
   
footer {
    padding: 25px 0;
}
